.MainLayoutModuleDarkBackground {
  background-image: url('./assets/images/LightModeServicesMainPagesImage.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
